<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Your blog <%= @blog.title %> was denied.</h1>
     <p>There are a number of reason why your blog was
        not approved. You submitted inappropriate
        information or your ads were inappropriate.
        Not to worry you can edit the blog and try to
        resubmit it again.
     </p>
     <p>The Review Team</p>
  </body>
</html>
