<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Your topiccontainer <%= @containersubscriber.topiccontainer.title %> received a new subscriber
         for forum <%= @containersubscriber.topiccontainer.forum.name %>.
     </h1>
     <p>It seems like you are beginning to attract a bit of a following here. So we
        thought we give you these <%= @points %> points. Who knows maybe you
        will have many more subscribers in the future.
     </p>
  </body>
</html>
