<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Hey forumowner received a new subtopic subscriber
         for forum <%= @subtopicsubscriber.subtopic.maintopic.topiccontainer.forum.name %>.
     </h1>
     <p>The subtopic <%= @subtopicsubscriber.subtopic.title %> for your
        forum has attracted a bit of attention for new users. So we thought we give
        you these <%= @points %> points to help you out. Who knows maybe your forum
        might become bigger with time.
     </p>
  </body>
</html>
