<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Your sound <%= @sound.title %> was approved.</h1>
     <p>In recognition of your talents on the Duelingpets
        website we the staff have decided that you deserve
        a special reward for your wonderful sound. So we
        decided that we would throw you a bone by giving
        you <%= @points %> points. We hope that you can
        put these points to good use. Keep up the good
        work.
     </p>
     <p>The Review Team</p>
  </body>
</html>
