<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Your sound <%= @sound.title %> was denied.</h1>
     <p>There are a number of reason why your sound was
        not approved. You submitted inappropriate
        information or your sound was inappropriate.
        Not to worry you can edit the sound and try to
        resubmit it again.
     </p>
     <p>The Review Team</p>
  </body>
</html>
