<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1>Your suggestion <%= @suggestion.title %> was applied.</h1>
     <p>In recognition of your wonderful idea I decided to add
        it to the site. It is very interesting to see
        what else you come up with from that wonderful brain
        of yours.
     </p>
     <p>I am certain that this idea will make
        Duelingpets alot better. In a cases like this I
        decided to throw you a bone by giving you
        <%= @points %> points. I hope you can put these
        points to good use. Keep up the good work.
     </p>
     <p>Bolt Greywing the Admin</p>
  </body>
</html>
