<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h1><%= @suggestion.user.vname %>'s suggestion <%= @suggestion.title %> is awaiting your review.</h1>
     <p>Here is a little synopsis of the users suggestion:</p>
     <p><%= @suggestion.description %></p>
     <br>
     <p>I know that you are a very busy fellow but I thought I pass along this suggestion.</p>
     <p>If you feel that this user's suggestion will make your site a better site then please use the
        apply button to let the user know that you approve of this change. By doing so you reward the
        user for his efforts. After all it is always nice when a user comes forward to help out the site
        owner such as in this case. I wonder what wonderful ideas he/she might have next?
     </p>
     <p>To access this review section you will need to use this url: <%= @url %></p>
     <p>From your friend,</p>
     <br>
     <p>Glitchy the Dragon</p>
  </body>
</html>
