<% provide(:h1, "Crazy Bat") %>
<p>Hmm that is strange the page you were looking for appears to have vanished off the face of the earth.</p>
<p>However not to worry I found something most pecular that might tickle your fancy that is if I can find it.</p>
<p>Let see now where did I put that thing?</p>
<p>Ahh here it is I finally found the page you were looking for all along.</p>
<br>
<p><%= video_tag(getCrazyBatVideo, width: "45%", :controls => true) %></p>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
