<% provide(:h1, "Site Maintenance") %>
<p>The site is currently down for repairs and is being worked on by the administrator of the site.</p>
<p>The isolation process takes some time and could be solved in a couple of hours or potentially a week at most if the bug is something of relatively large complexity.</p>
<p>Boltgreywing is doing his very best to get the site up and running for you guys as soon as he possibly can but repairs do take some time to make.</p>
<p>He appreciates your patience in waiting on him to finish his work and to bring Battiro back from his little nap.</p>
<p>When the site is up again it will be better than before and Battiro will be flying high amoung his fellow fans and those who believe in him.</p>
