<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Congratulations <%= @containermoderator.user.vname %> your now a container moderator.</h1>
      <p>Now that your a container moderator you now have the ability to manage
         the various different users of the topiccontainer
         <%= @containermoderator.topiccontainer.title %>. You can edit or delete
         the different topics that the users have created as well as be able
         to create maintopics.
      </p>
      <p>As a moderator you get a special symbol to represent your new
         position. I wish you the best of luck and hope that as a container
         moderator you do well.
      </p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
