<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1><%= @pastforumowner.pastowner.vname %> stepped down from the forum <%= @pastforumowner.forum.name %></h1>
      <p>I know you now have a lot of responsibility on your hands now with this
         new forum but I want to wish you congratulations. I hope you lead the
         users of this forum into a new era and are a good and wise leader.
         I am certain the owner made a good call in putting you in charge
         since they saw a spark in you.
      </p>
      <p>Best of luck with this newest addition.</p>
      <br>
      <p>The Duelingpets Staff Team</p>
   </body>
</html>
