<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1><%= @pastforumowner.pastowner.vname %> your forum <%= @pastforumowner.forum.name %> was taken over</h1>
      <p>Your users tried to contact you but were unable to reach you so <%= @pastforumowner.to_user.vname %>
         decided to take ownership of the forum since they wish for this forum to continue. So now the new
         owner is in charge of the forum now. Sometimes life gets in the way of things and this feels like
         a good solution rather leaving this forum vacant with users unable to create new topics.
      </p>
      <p>This is why I added this feature since I saw way too many forums die out because the owner of the
         forum disappeared and never came back.</p>
      <br>
      <p>The Duelingpets Staff Team</p>
   </body>
</html>
