<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Congratulations <%= @forummoderator.user.vname %> your now a forum moderator.</h1>
      <p>Now that your a forum moderator you now have the ability to manage
         the various different users of the forum <%= @forummoderator.forum.name %>.
         You can edit or delete the different topics that the users have created as
         well as be able to create topiccontainers.
      </p>
      <p>As a moderator you get a special symbol to represent your new
         position. I wish you the best of luck and hope that as a forum
         moderator you do well.
      </p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
