<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Your foruminvite with <%= @foruminvitemember.user.vname %> was approved.</h1>
      <p>Now that you have a new member they can access your invite only forum.
         Also they will be able to create narratives or new topics depending
         on the forum privileges.
      </p>
      <p>Best of luck to both of you. Have fun!</p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
