<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Your foruminvite with <%= @foruminvite.to_user.vname %> was denied.</h1>
      <p>It appears that they don't want to join your forum
         <%= @foruminvite.forum.name %> at this time. Not to worry there is hope
         that <%= @foruminvite.to_user.vname %> will be a member of your invite
         only forum sometime in the future.
      </p>
      <p>Try not to be too discouraged sometimes these things happen. You can
         simply send a new foruminvite to the other user. Try to wait a bit
         before you do send a new one, so that you guys have some time to learn
         about each other.
      </p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
