<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Your friendrequest with <%= @friendrequest.to_user.vname %> was denied.</h1>
      <p>It appears that your interests were not able to connect at this period
         in time. Not to worry there is hope that you and
         <%= @friendrequest.to_user.vname %> will find some common ground
         sometime in the future.
      </p>
      <p>Try not to be too discouraged sometimes these things happen. You can
         simply send a new friendrequest to the other user. Try to wait a bit
         before you do send a new one, so that you guys have some time to learn
         about each other.
      </p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
