<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Your friendrequest with <%= @friend.to_user.vname %> was approved.</h1>
      <p>Now that your friends with <%= @friend.to_user.vname %> you can
         join certain invite only forums that your friend has created. It
         is always nice to have a friend that you can hangout with.
      </p>
      <p>Best of luck to both of you. Have fun!</p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
