<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Congratulations <%= @donationbox.user.vname %> you reached your goal!</h1>
      <p>You made <%= @netpoints %> points over your
         <%= @donationbox.goal %> points goal.
      </p>
      <p>You can now retrieve your <%= points %> points from your donationbox</p>
      <p>We hope you continue to be lucky.</p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
