<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Congratulations <%= @maintopicmoderator.user.vname %> your now a maintopic moderator.</h1>
      <p>Now that your a maintopic moderator you now have the ability to manage
         the various different users of the maintopic
         <%= @maintopicmoderator.maintopic.title %>. You can edit or delete
         the different topics that the users have created as well as be able
         to create subtopics.
      </p>
      <p>As a moderator you get a special symbol to represent your new
         position. I wish you the best of luck and hope that as a container
         moderator you do well.
      </p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
