<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Your maintopicmoderatorrequest to the maintopic <%= @maintopicmoderatorrequest.maintopic.title %> was denied.</h1>
      <p>It appears that the forum owner is not ready for you to become a
         moderator just yet. Not to worry you can always try again later
         to become a maintopic moderator. Simply send another
         maintopicmoderatorrequest and maybe with a bit of helpful
         chatting the owner might select you the next time around.
      </p>
      <br>
      <p>From Bolt Greywing the Admin</p>
   </body>
</html>
