<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>New registration <%= @registration.vname %> is awaiting review.</h1>
      <p>Greetings review team we have a new user who has just registered
         for an account here on Duelingpets. Please be sure to check all
         details of the user's information to make certain that this user
         is not a bot. Please be certain to verify if the email address is
         indeed valid by using this nifty tool.
      </p>
      <p>One of the big problems with the previous design was that bots
         were able to register as a new user and wind up taking up some
         of the memory in the database itself. On top of that the bad
         emails also made the email server send multiple emails to try
         reaching an address that couldn't be found.
      </p>
      <p>As members of the keymasters group you have control over the
         registration process and you can open and close it at will.
         If you decide that this user's registration can be converted
         to an actual user account then use the approve button to
         convert it. Otherwise use the deny button to remove the
         registration form from the website so that I recieve this
         account as one to watch out for.
      </p>
      <p>While there are registrations here you will need to complete
         them first before you can review other content. When the gate
         for registration is closed no user's can signup for an account.
         When it is open new users can register for an account. Typically
         at most please try to keep the registration process closed for at
         least two weeks time frame. When it is to be opened up, please
         keep it open for at least three days.
      </p>
      <p>Also if you get lost as to the review section is located then
         please click on this link: <%= @url %>. This will take you to
         the correct location if you need it.
      </p>
      <p>Have Fun, </p>
      <br>
      <p>Bolt Greywing the Admin</p>
   </body>
</html>
