<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1><%= @narrative.user.vname %> created a new Narrative</h1>
      <p>Hey subscriber I just wanted to let you know about this new forum post, just
         incase you might have missed it. The post is directly below.
      </p>
      <br>
      <p>RE: <%= @narrative.subtopic.title %></p>
      <p><%= @narrative.story %></p>
   </body>
</html>
