<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Thank you <%= @referral.referred_by.vname %> for bringing someone new to the site!</h1>
      <p>By bringing <%= @referral.to_user.vname %> to Duelingpets you have made the site
         richer. We can only wonder at what he/she will be able to create on our wonderful site.
         Still he/she will certainly need some training to get him up to speed but I am sure that you
         will be up to the task for without you this would not have been possible.
      </p>
      <p>For your effort I figured I would donate these <%= @points %> points to your cause.
         Use them to help you design more art, music and videos. Or if you wish use them to
         help fund the other artists, song writers, and video makers of this great site. Sit back
         relax and enjoy the current features of the site. Though don't worry more features will be
         on the way soon.
      </p>
      <p>We are still quite a small site and could use a bit more people to spice up the place. I
         know you will be able to find more people. Even when you can't find people take the time
         to enjoy life and feel free to continue your creative efforts. Who knows someone one day
         might notice your art, videos, and audio that you created. Maybe even you will become
         friends with that person.
      </p>
      <p>Still I like to congratulate you both on my behalf as well as that of the staff. You have
         done really well. Keep up the good work.
      </p>
      <br>
      <p>Bolt Greywing</p>
   </body>
</html>
