<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>Welcome <%= @user.vname %> to Duelingpets</h1>
      <p>Greetings <%= @user.vname %> I am your helpful tour guide Glitchy
         The Dragon. I hail from a little known country called Glitchland
         where all types of glitch like creatures live. We enjoy causing
         a bit of mayhem to the games that humans play cause well they
         wouldn't enjoy them as much if we weren't around.
      </p>
      <p>My grand-father was a really great dragon who always seemed to
         have a happy face even when times appear to be very bad. I know
         his game was not recieved as well from other players but still
         he put so much effort to make the game what it is. I still play
         it though I'd like to one day have my very own set of games too.
         I feel sorry for him and though he is gone, I find myself trying
         to live up to legacy and be better than he used to be. A glitch
         can dream can't he?
      </p>
      <p>I know Duelingpets might not be the place for someone like me to
         be around, but the admin said yes I could stay. I tried knocking
         on other petsite doors and many other companies but most pretty
         much turned me down. Still I am glad to be a part of this site
         the admin Bolt Greywing is a very nice person. The site itself
         is pretty amazing though at this time it is currently being
         updated.
      </p>
      <p>The site itself features a couple of tidbits of information for
         the guests to look at such as the stats page, the contact page,
         the registration page, the login page, the homepage, the reset
         password section and the activation sections. The stats page
         gives the guests and logged in users the ability to see what
         the current site looks like over time. The contact page allows
         guests to contact the admin for any questions or problems that
         the site might have at any point in time.
      </p>
      <p>The registration section is what allows guests to become actual
         users which you should probably know already as you are one of
         them. The login page allows users such as yourself to be able
         to login into the system. The homepage is a bit barren at this
         time but will eventually hold images of pictures that users have
         uploaded here which I would be very happy to see one day. Maybe
         I could try to paint something one day. The reset password
         section is what allows guests to reset the passwords on their
         account if they get a bit forgetful. Humans are such funny
         creatures they can't remember their own passwords sometime,
         heehehehehee.
      </p>
      <p>The activation section is what allows guests to activate their
         user account which allows them to play with the site itself.
         Shout boxes are small little boxes that store shouts from other
         users. Unlike a comment box shout boxes are designed to only show
         the shouts from others on their profile. Its small I will give you
         that but it allows the first layer of communication now who
         wouldn't appreciate talking with other glitch creatures or animals?
      </p>
      <p>Just because I am glitch creature doesn't mean I don't know how to
         have fun though. Now you might run across a couple of Tanookis with
         a bat creature while you are out playing on the site. From time to
         time they will ask for a ransom to help pay for the site so it best
         to help contribute to this cause otherwise some of the features will
         be disabled. The Tanooki creatures was an invention of my own accord
         so please don't judge me too harshly for I am still a bit new at
         helping other humans navigate this site. I am still in training so
         to speak.
      </p>
      <p>I hope I was able to help you out as best I could but even I don't
         know everything.
      </p>
      <p>Your Glitchy Tourguide in training,</p>
      <br>
      <p>Glitchy the Dragon</p>
   </body>
</html>
