<% provide(:h1, "Forumtype List") %>
<% @forumtypes.each do |forumtype| %>
   <br>
   <p>Type: <%= forumtype.name %></p>
   <p>Created on: <%= distance_of_time_in_words_to_now forumtype.created_on %> ago on (<%= forumtype.created_on.strftime("%B-%d-%Y") %>)</p>
<% end %>
<br>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
