<% provide(:h1, "Radiostation Maintenance") %>
<p>Looking for the radiostation's pages? Tough luck kiddo we are not going to be giving them back until you pay us a ransom for it.</p>
<p>"To mess up the pet world in every nation!" Tanooki1 says</p>
<p>"To cause mischief in the ways above." Tanooki2 says</p>
<p>"Tanooki1" Tanooki1 says</p>
<p>"Tanooki2" Tanooki2 says</p>
<p>"We are trouble makers of pure delight" Tanooki1 says</p>
<p>"Surrender your points now." Tanooki2 says</p>
<p>"Or your in for a fight." Tanooki1 says</p>
<p>"Squeeek that's right!" Batty villian says</p>
